DB_USERNAME=postgres
DB_PASSWORD=example

DB_EIL_DATABASE=eil
DB_KC_DATABASE=keycloak_db # required to be such

RUN_MIGRATIONS=false

AWS_S3_ACCESS_ID=
AWS_S3_BUCKET_NAME=
AWS_S3_REGION=
AWS_S3_SECRET_KEY=

KEYCLOAK_URL: http://keycloak:8080
KEYCLOAK_REALM: public
# secrets should be set after Keycloak clients are configured
KEYCLOAK_CLIENTS: showcase:abcabc,storybook:edfedf
# origins of web apps
CORS_ALLOW_ORIGINS: http://localhost:3000,http://localhost:3001

# If you don't want to bind a port, set it to 0 or omit
PORT_ADMIN_API=9999
PORT_AGGREGATION_API=9998
PORT_DATA_LOAD_API=9997
PORT_DATABASE_API=9996
PORT_DISCUSSION_API=9995
PORT_FILE_API=9994
PORT_NOTIFICATIONS_API=9993
PORT_OLDB_API=9992
PORT_SITE_TEXT_API=9991
PORT_VOTING_API=9990
PORT_PGADMIN=8104
PORT_KEYCLOAK=8080
PORT_GRAPHQL=8081
PORT_DB=5433
PORT_DISCUSSION_SUBSCRIPTIONS_API=9989
PORT_NOTIFICATIONS_SUBSCRIPTIONS_API=9988
PORT_SCRIPTURE_API=9987

# OPTIONAL
KC_DB_INIT_SCRIPT_PATH=./init-database.sh
# OPTIONAL
PG_VOLUME_PATH=./postgres
