DB_USERNAME=postgres
DB_PASSWORD=example

DB_EIL_DATABASE=eil
DB_KC_DATABASE=keycloak_db # required to be such

RUN_MIGRATIONS=false

AWS_S3_ACCESS_ID=
AWS_S3_BUCKET_NAME=
AWS_S3_REGION=
AWS_S3_SECRET_KEY=

MAX_FILE_SIZE=1073741824 # 1024 * 1024 * 1024
MAX_FILES=10
KEYCLOAK_URL: http://keycloak:8080
# origins of web apps
CORS_ALLOW_ORIGINS: http://localhost:3000,http://localhost:3001
# If you don't want to bind a port, set it to 0 or omit
PORT_PGADMIN=8104
PORT_KEYCLOAK=8080
PORT_DB=5433
PORT_DB_SSO=5435
PORT_CPG_SERVER=8201
# OPTIONAL
EIL_DB_INIT_SCRIPT_PATH=./init-eil-database.sh
KC_DB_INIT_SCRIPT_PATH=./init-kc-database.sh
KC_IMPORT_REALM_PATH=./import/realm-showcase.json
PG_VOLUME_PATH=./eilpostgres
PG_SSO_VOLUME_PATH=./postgres

KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=showcase
KEYCLOAK_CLIENT_ID=showcase-auth
KEYCLOAK_CLIENT_SECRET=eXqrcJ2mHLwLaZCXoUlBFcUiYFdY6cCu
JWT_KEY=a612bef2fdc19597dd5e1d208bd681186f22560de791810f44c7b40071f35dc855d6ef02cdb95c798729
FRONTEND_URL=http://localhost:3000

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
FROM_EMAIL_ADDRESS=